.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #211224;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #efdff2;
}

.App-link {
  color: #EBB2F0;
  background-color: #351a3b;
  padding: 10px 20px;
  border-radius: 15px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.App-link:hover {
  background-color: #8e1894;

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */
.App-header p {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
}

/* Add a border to an element with class "frame" */
.frame {
  border: 2px solid #000; /* 2px solid black border */
  padding: 10px; /* Optional: Add padding inside the border */
}

/* Add a border with rounded corners */
.rounded-frame {
  border: 2px solid #000;
  border-radius: 10px; /* Adjust the border-radius for more or less rounding */
  padding: 10px;
}




