.form-container {
    /* Stilurile pentru containerul formularului */
}

.input-container {
    margin-bottom: 10px; /* Spațiul între câmpuri */
}

.button-container {
    margin-top: 10px; /* Spațiul între câmpuri și buton */
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
